{% extends 'base.html.twig' %}

{% block body %}

<table class="table-user">
    <thead>
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Email</td>
            <td>Agence</td>
            <td>Action</td>
            <td>Supprimer</td>
        </tr>
    </thead>
    <tbody>
        {% for user in allUser %}
            <tr class=''>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.agence|length > 0 %}
                        {% for agence in user.agence %}
                            {{ agence.name }} |
                        {% endfor %}
                    {% else %}
                        <strong>Pas d'agence</strong>
                    {% endif %}
                </td>
                <td><a href="{{ path('admin_user_add_agence', {id: user.id}) }}">Ajouter une agence</a></td>
                <td><a href="{{ path('admin_user_ask_remove', { id: user.id }) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
    </tbody>

{% endblock %}
