<div class="row-search-first">
    <div class="col col-adherent-search_age_min">
        {{ form_label(formAdherent.search_age_min) }}
        {{ form_widget(formAdherent.search_age_min) }}
    </div>
    <div class="col col-adherent-search_age_max">
        {{ form_label(formAdherent.search_age_max) }}
        {{ form_widget(formAdherent.search_age_max) }}
    </div>
</div>
<div class="row-search-second">
    <div class="col col-adherent-search_single">
        {{ form_label(formAdherent.search_single) }}
        {{ form_widget(formAdherent.search_single) }}
    </div>
    <div class="col col-adherent-search_divorced">
        {{ form_label(formAdherent.search_divorced) }}
        {{ form_widget(formAdherent.search_divorced) }}
    </div>
    <div class="col col-adherent-search_widower">
        {{ form_label(formAdherent.search_widower) }}
        {{ form_widget(formAdherent.search_widower) }}
    </div>
</div>
<div class="row-search-third">
    <div class="col col-adherent-search_instruction">
        {{ form_label(formAdherent.search_instruction) }}
        {{ form_widget(formAdherent.search_instruction) }}
    </div>
    <div class="col col-adherent-search_profession">
        {{ form_label(formAdherent.search_profession) }}
        {{ form_widget(formAdherent.search_profession) }}
    </div>
    <div class="col col-adherent-search_region">
        {{ form_label(formAdherent.search_region) }}
        {{ form_widget(formAdherent.search_region) }}
    </div>
    <div class="col col-adherent-search_more">
        {{ form_label(formAdherent.search_more) }}
        {{ form_widget(formAdherent.search_more) }}
    </div>
    <div class="col col-adherent-search_accept_children">
        {{ form_label(formAdherent.search_accept_children) }}
        {{ form_widget(formAdherent.search_accept_children) }}
    </div>
    <div class="col col-adherent-search_number_accept_children">
        {{ form_label(formAdherent.search_number_accept_children) }}
        {{ form_widget(formAdherent.search_number_accept_children) }}
    </div>
</div>