<div class="row-general-first">
    <div class="col col-adherent-zodiaque">
        {{ form_label(formAdherent.zodiaque) }}
        {{ form_widget(formAdherent.zodiaque) }}
    </div>
    <br>
    <div class="col col-adherent-address_street">
        {{ form_label(formAdherent.address_street) }}
        {{ form_widget(formAdherent.address_street) }}
    </div>
    <div class="col col-adherent-address_street2">
        {{ form_label(formAdherent.address_street2) }}
        {{ form_widget(formAdherent.address_street2) }}
    </div>
    <div class="col col-adherent-address_zip_postal">
        {{ form_label(formAdherent.address_zip_postal) }}
        {{ form_widget(formAdherent.address_zip_postal) }}
    </div>
    <div class="col col-adherent-address_town">
        {{ form_label(formAdherent.address_town) }}
        {{ form_widget(formAdherent.address_town) }}
    </div>
    <br>
    <div class="col col-adherent-phone_mobile">
        {{ form_label(formAdherent.phone_mobile) }}
        {{ form_widget(formAdherent.phone_mobile) }}
    </div>
    <div class="col col-adherent-phone_home">
        {{ form_label(formAdherent.phone_home) }}
        {{ form_widget(formAdherent.phone_home) }}
    </div>
    <div class="col col-adherent-phone_work">
        {{ form_label(formAdherent.phone_work) }}
        {{ form_widget(formAdherent.phone_work) }}
    </div>
    <div class="col col-adherent-phone_comments">
        {{ form_label(formAdherent.phone_comments) }}
        {{ form_widget(formAdherent.phone_comments) }}
    </div>
    <div class="col col-adherent-email">
        {{ form_label(formAdherent.email) }}
        {{ form_widget(formAdherent.email) }}
    </div>
</div>
<div class="row-general-second">
    <div class="col col-adherent-instruction">
        {{ form_label(formAdherent.instruction) }}
        {{ form_widget(formAdherent.instruction) }}
    </div>
    <div class="col col-adherent-profession">
        {{ form_label(formAdherent.profession) }}
        {{ form_widget(formAdherent.profession) }}
    </div>
    <br>
    <div class="col col-adherent-size">
        {{ form_label(formAdherent.size) }}
        {{ form_widget(formAdherent.size) }}
    </div>
    <div class="col col-adherent-weight">
        {{ form_label(formAdherent.weight) }}
        {{ form_widget(formAdherent.weight) }}
    </div>
    <div class="col col-adherent-eyes">
        {{ form_label(formAdherent.eyes) }}
        {{ form_widget(formAdherent.eyes) }}
    </div>
    <div class="col col-adherent-hair">
        {{ form_label(formAdherent.hair) }}
        {{ form_widget(formAdherent.hair) }}
    </div>
    <br>
    <div class="col col-adherent-child_girl">
        {{ form_label(formAdherent.child_girl) }}
        {{ form_widget(formAdherent.child_girl) }}
    </div>
    <div class="col col-adherent-child_boy">
        {{ form_label(formAdherent.child_boy) }}
        {{ form_widget(formAdherent.child_boy) }}
    </div>
    <div class="col col-adherent-child_dependent_girl">
        {{ form_label(formAdherent.child_dependent_girl) }}
        {{ form_widget(formAdherent.child_dependent_girl) }}
    </div>
    <div class="col col-adherent-child_dependent_boy">
        {{ form_label(formAdherent.child_dependent_boy) }}
        {{ form_widget(formAdherent.child_dependent_boy) }}
    </div>
</div>
<div class="row-general-third">
    <div class="col col-adherent-status_matrimoniale">
        {{ form_label(formAdherent.status_matrimoniale) }}
        {{ form_widget(formAdherent.status_matrimoniale) }}
    </div>
    <br>
    <div class="col col-adherent-permis">
        {{ form_label(formAdherent.permis) }}
        {{ form_widget(formAdherent.permis) }}
    </div>
    <div class="col col-adherent-car">
        {{ form_label(formAdherent.car) }}
        {{ form_widget(formAdherent.car) }}
    </div>
    <br>
    <div class="col col-adherent-lodging">
        {{ form_label(formAdherent.lodging) }}
        {{ form_widget(formAdherent.lodging) }}
    </div>
    <div class="col col-adherent-owner">
        {{ form_label(formAdherent.owner) }}
        {{ form_widget(formAdherent.owner) }}
    </div>
    <br>
    <div class="col col-adherent-smoking">
        {{ form_label(formAdherent.smoking) }}
        {{ form_widget(formAdherent.smoking) }}
    </div>
    <br>
    <div class="col col-adherent-announcement_publish">
        {{ form_label(formAdherent.announcement_publish) }}
        {{ form_widget(formAdherent.announcement_publish) }}
    </div>
    <div class="col col-adherent-preference_contact">
        {{ form_label(formAdherent.preference_contact) }}
        {{ form_widget(formAdherent.preference_contact) }}
    </div>
</div>