<div class="row-announcement-first">
    <div class="col col-adherent-announcement_presentation">
        {{ form_label(formAdherent.announcement_presentation) }}
        {{ form_widget(formAdherent.announcement_presentation) }}
    </div>
    <br>
    <div class="col col-adherent-announcement_free">
        {{ form_label(formAdherent.announcement_free) }}
        {{ form_widget(formAdherent.announcement_free) }}
    </div>
    <br>
    <div class="col col-adherent-announcement_date_free">
        {{ form_label(formAdherent.announcement_date_free) }}
        {{ form_widget(formAdherent.announcement_date_free) }}
    </div>
</div>
<div class="row-announcement-second">
    <div class="col col-adherent-announcement_newspaper">
        {{ form_label(formAdherent.announcement_newspaper) }}
        {{ form_widget(formAdherent.announcement_newspaper) }}
    </div>
    <br>
    <div class="col col-adherent-announcement_date_newspaper">
        {{ form_label(formAdherent.announcement_date_newspaper) }}
        {{ form_widget(formAdherent.announcement_date_newspaper) }}
    </div>
</div>