<div class="row-contract-first">
    <div class="col col-adherent-contract_date">
        {{ form_label(formAdherent.contract_date) }}
        {{ form_widget(formAdherent.contract_date) }}
    </div>
    <br>
    <div class="col col-adherent-contract_startedAt">
        {{ form_label(formAdherent.contract_startedAt) }}
        {{ form_widget(formAdherent.contract_startedAt) }}
    </div>
    <br>
    <div class="col col-adherent-contract_endingAt">
        {{ form_label(formAdherent.contract_endingAt) }}
        {{ form_widget(formAdherent.contract_endingAt) }}
    </div>
    <br>
    <div class="">
        <div class="col col-adherent-contract_amount">
            {% set q = (formAdherent.contract_amount.vars.value) | number_format(2, ',', ' ') %}
            {{ form_label(formAdherent.contract_amount) }}
            {{ form_widget(formAdherent.contract_amount) }}
        </div>
        <div class="col col-adherent-type_payment">
            {{ form_label(formAdherent.type_payment) }}
            {{ form_widget(formAdherent.type_payment) }}
        </div>
    </div>
</div>
<div class="row-contract-second">
    <div class="col col-adherent-contract_comments">
        {{ form_label(formAdherent.contract_comments) }}
        {{ form_widget(formAdherent.contract_comments) }}
    </div>
</div>
