{% extends 'base.html.twig' %}

{% block body %}

    <div class="">
        <div class="">
            <p>Attention !! Vous êtes sur le point de supprimer la rencontre entre "{{ meet.adherentWoman.firstname }} {{ meet.adherentWoman.lastname }}" et "{{ meet.adherentMan.firstname }} {{ meet.adherentMan.lastname }}".<br/>
                Cette action est irréversible, êtes vous sûr ?</p>
            <a href="{{ path('meet_remove', { id: meet.id }) }}">Oui</a>
            <a href="{{ path('adherent_all') }}">Non</a>
        </div>
    </div>

{% endblock %}
