{% extends 'base.html.twig' %}

{% block body %}
<h1 class="title-meet">Toutes les rencontres {% if dateUrl is defined %}du {{ dateUrl|date('d/m/Y') }}{% endif %}</h1>

<div class="search-input-meet">
    <input type="date" class="input-date-meet" >
{#    <a href="#" class="link-meet">Envoyer</a>#}
</div>

<a href="{{ path('meet_all') }}">Voir toutes les rencontres</a>
<a href="
{% if dateUrl is defined %}
    {{ path('meet_send_date', {date: dateUrl|date('Y-m-d')}) }}
{% else %}
    {{ path('meet_send') }}
{% endif %}" class="link-testimony" target="_blank">Envoyer les courriers</a>
<table class="table-meet">
    <thead>
        <tr>
            <td>Référence</td>
            <td>Date de rencontre</td>
            <td>Femme</td>
            <td>Agence Femme</td>
            <td>Homme</td>
            <td>Agence Homme</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        {% for meet in meets %}
        <tr>
            <td>{{ meet.id }}</td>
            <td>{{ meet.startedAt|date('d/m/Y') }}</td>
            <td>{{ meet.adherentWoman.firstname }} {{ meet.adherentWoman.lastname }}</td>
            <td>{{ meet.adherentWoman.agence.name }} {{ meet.adherentWoman.agence.addressTown }}</td>
            <td>{{ meet.adherentMan.firstname }} {{ meet.adherentMan.lastname }}</td>
            <td>{{ meet.adherentMan.agence.name }} {{ meet.adherentMan.agence.addressTown }}</td>
            <td><a href="#">Voir plus</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
