{% extends 'base.html.twig' %}

{% block body %}
<div id="list-pdf" class="container container-screen">
<h1>La liste des envois</h1>
    <div class="btns">
        <div class="">
            {% if adherentPapers|length > 0 %}
                {% if adherentPapers|length > 30 %}
                    <a href="#" data-paper="{{ adherentPapers|length }}" class="link-send-paper link-testimony btn btn-little">Envoyer les courriers</a>
                {% else %}
                    <a href="#" data-paper="{{ adherentPapers|length }}" class="link-send-paper link-testimony btn btn-little">Envoyer les courriers</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="">
            {% if adherentEmails|length > 0 %}
                {% if adherentEmails|length > 30 %}
                    <a href="#" data-email="{{ adherentEmails|length }}" class="link-send-email link-testimony btn btn-little">Envoyer les emails</a>
                {% else %}
                    <a href="#" data-email="{{ adherentEmails|length }}" class="link-send-email link-testimony btn btn-little">Envoyer les emails</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="content">
        {% if meets is empty %}
            <p>Aucune rencontre pour ce jour, merci de bien vouloir sélectionner une nouvelle date</p>
        {% else %}
            {% for meet in meets %}

                {% if meet.adherentWoman in trueAgence  %}
                    {% set insideWoman = true %}
                {% else %}
                    {% set insideWoman = false %}
                {% endif %}

                {% if meet.adherentMan in trueAgence %}
                    {% set insideMan = true %}
                {% else %}
                    {% set insideMan = false %}
                {% endif %}

            <p>Entre <span>{{ meet.adherentWoman.lastname }} {{ meet.adherentWoman.firstname }}</span>
                {% if insideWoman == true %}
                    {% if meet.adherentWoman.preferenceContact.name == 'Email' %}
                        (<a class="link-sm" href="mailto:{{ meet.adherentWoman.email }}?subject=Résultat de votre rencontre&body=Bonjour Mme {{ meet.adherentWoman.lastname }} {{ meet.adherentWoman.firstname }}.">Email</a>)
                    {% else %}
                        (Courrier)
                    {% endif %}
                        <a class="link-sm" href="{{ path('adherent_single_pdf', { adherent: meet.adherentWoman.id, meet: meet.adherentMan.id }) }}" target="'_blank">Voir PDF</a>
                {% endif %}

                et <span>{{ meet.adherentMan.lastname }} {{ meet.adherentMan.firstname }}</span>

                {% if insideMan == true %}
                        {% if meet.adherentMan.preferenceContact.name == 'Email' %}
                            (<a class="link-sm" href="mailto:{{ meet.adherentMan.email }}?subject=Résultat de votre rencontre&body=Bonjour M. {{ meet.adherentMan.lastname }} {{ meet.adherentMan.firstname }}.">Email</a>)
                        {% else %}
                            (Courrier)
                        {% endif %}
                        <a class="link-sm" href="{{ path('adherent_single_pdf', { adherent: meet.adherentMan.id, meet: meet.adherentWoman.id }) }}" target="'_blank">Voir PDF</a></p>
                {% endif %}
            {% endfor %}
        {% endif %}
            
    </div>
</div>
{% endblock %}
