{% extends 'base.html.twig' %}

{% block body %}
{% for message in app.flashes('successAddOption') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('successRemoveOption') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('errorRemoveOption') %}
    <div class="alert alert-error">
        {{ message }}
    </div>
{% endfor %}
    <div class="options-form">
        {{ form_start(form) }}
        <div class="options-form-row">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="options-form-row">
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
        </div>
        {{ form_end(form) }}
    </div>
<div class="grid-options">
    <div class="all-eyes">
        <h2>Les types d'yeux :</h2>
        {% for option in options %}
            {% if option.type == 'eyes' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="all-hair">
        <h2>Les types de cheveux :</h2>
        {% for option in options %}
            {% if option.type == 'hair' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="all-status_meet">
        <h2>Les types de statuts de rencontre :</h2>
        {% for option in options %}
            {% if option.type == 'status_meet' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="all-status_matrimoniale">
        <h2>Les types de statuts matrimoniaux :</h2>
        {% for option in options %}
            {% if option.type == 'status_matrimoniale' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="all-zodiaque">
        <h2>Les signes astrologiques :</h2>
        {% for option in options %}
            {% if option.type == 'zodiaque' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="all-preference_contact">
        <h2>Les préférences de contact :</h2>
        {% for option in options %}
            {% if option.type == 'preference_contact' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="all-type_payment">
        <h2>Les types de paiements :</h2>
        {% for option in options %}
            {% if option.type == 'type_payment' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="all-instruction">
        <h2>Les différents diplômes :</h2>
        {% for option in options %}
            {% if option.type == 'instruction' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="all-smoking">
        <h2>Les différents types de fumeur :</h2>
        {% for option in options %}
            {% if option.type == 'smoking' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="all-owner">
        <h2>Les différents types de propriétaires :</h2>
        {% for option in options %}
            {% if option.type == 'owner' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="all-lodging">
        <h2>Les différents types de logement :</h2>
        {% for option in options %}
            {% if option.type == 'lodging' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="all-genre">
        <h2>Les types de sexe :</h2>
        {% for option in options %}
            {% if option.type == 'genre' %}
                <p>{{ option.name }} <a href="{{ path('admin_option_ask_remove', {id : option.id}) }}">Supprimer</a></p>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}