{% extends 'base.html.twig' %}

{% block body %}

    <div id="all-adherents" class="container container-screen search-inter-agence">
        <div class="">
            <h1 class="title-search">Liste de tous les adhérents inter-agences</h1>
            <div class="filter-button">
            <a href="#" class="btn btn-secondary btn-little btn-sm mx-2">Filtres</a>
        </div>
        </div>
        <div class="modal-filter" hidden>
            <div class="search-filter">
                <div class="search-year">
                    <div class="year-min">
                        <label>Âge minimum:</label>
                        <input type="text" id="min" name="min" />
                    </div>
                    <div class="year-max">
                        <label>Âge maximum:</label>
                        <input type="text" id="max" name="max" />
                    </div>
                </div>
                <div class="search-size">
                    <div class="size-min">
                        <label>Taille minimum:</label>
                        <input type="text" id="size-min" name="size-min" />
                    </div>
                    <div class="size-max">
                        <label>Taille maximum:</label>
                        <input type="text" id="size-max" name="size-max" />
                    </div>
                </div>
                <div class="search-weight">
                    <div class="weight-min">
                        <label>Poids minimum:</label>
                        <input type="text" id="weight-min" name="weight-min" />
                    </div>
                    <div class="weight-max">
                        <label>Poids maximum:</label>
                        <input type="text" id="weight-max" name="weight-max" />
                    </div>
                </div>
            </div>
            <p id="selectTriggerSearchInterAgence"></p>
        </div>

        <table id="table-search-inter-agence" class="table-search">
            <thead class="table-search-thead">
            <tr>
                <td>Genre</td>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Âge</td>
                <td>Ville</td>
                <td>Taille</td>
                <td>Poids</td>
                <td>Fin de contrat</td>
                <td>État du contrat</td>
                <td>Position</td>
                <td>Agence</td>
                <td>Action</td>
                <td>Rencontre</td>
            </tr>
            </thead>
            <tbody>
            {% for boucle in adherents %}
                {% for adherent in boucle %}
                    <tr>
                        <td>{{ adherent.genre }}</td>
                        <td>{{ adherent.lastname }}</td>
                        <td>{{ adherent.firstname }}</td>
                        <td>{{ adherent.getAge }}</td>
                        <td>{{ adherent.addressTown }}</td>
                        <td>{{ adherent.size }}</td>
                        <td>{{ adherent.weight }}</td>
                        <td data-sort='{{ adherent.contractEndingAt|date('Ymd') }}'>{{ adherent.contractEndingAt|date('d/m/Y') }}</td>
                        <td>
                            {% if adherent.contractStartedAt < date('now') and adherent.contractEndingAt > date('now') %}
                                En Cours
                            {% else %}
                                Fini
                            {% endif %}
                        </td>
                        <td>{{ adherent.statusMeet }}</td>
                        <td>{{ adherent.agence.name }}</td>
                        <td><a href="{{ path('adherent_single', {id : adherent.id}) }}">Voir plus</a></td>
                        <td><a data-adherent-genre="{{ adherent.genre }}" data-adherent-id="{{ adherent.id }}" class="create-meet-search-inter-agence" href="#">Créer une rencontre ?</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

