{% extends 'base.html.twig' %}

{% block body %}
{% for message in app.flashes('successNewAdherent') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<p>Liste des adhérents</p>
<div class="">
    <a href='{{ path('adherent_add') }}'>Ajouter un nouvel adhérent</a>
</div>
<div class="">
    <a href='{{ path('profile') }}'>Votre profil</a>
</div>
{% if app.user.roles[0] == "ROLE_ADMIN" %}
    <div class=""><a href="{{ path('admin') }}">ADMIN</a></div>
{% endif %}
{# <a href='{{ path('meet_new', {'woman': 'adherent-woman', 'man' : 'adherent-man'}) }}'>Nouvel Rencontre</a> #}

{# 
{% for agence in app.user.agence %}
{# {{dump(agence)}} #}
    {# {% for adherent in womenAdherent %}
        {% if adherent.agence == 'Suzanne Tours' %}
            {{dump(adherent)}}
        {% endif %}
    {% endfor %}

{% endfor %}  #}


<div class="all-table">
    <table class='table-women'>
        <thead class='thead-adherent'>
            <tr>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Age</td>
                <td>État</td>
                <td>Fin contrat</td>
                <td>Agence</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for boucle in womenAdherent %}
                {% for adherent in boucle %}
                    <tr class='women'>
                        <td>{{ adherent.lastname }}</td>
                        {% if adherent.statusMeet == 'Disponible' %}
                            <td class='status-disponibility'>{{ adherent.firstname }}</td>
                        {% else %}
                            <td>{{ adherent.firstname }}</td>
                        {% endif %}
                        <td>{{ adherent.getAge() }}</td>
                        <td >{{ adherent.statusMeet }}</td>
                        <td>{{ adherent.contractEndingAt|date('d/m/Y') }}</td>
                        <td>{{ adherent.agence.addressTown }} - {{ adherent.agence.name }}</td>
                        <td><a href='{{ path('adherent_single', {id : adherent.id}) }}'>Profil</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
        <tbody>
    </table>
    <table class='table-men'>
        <thead class='thead-adherent'>
            <tr>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Age</td>
                <td>État</td>
                <td>Fin contrat</td>
                <td>Agence</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for boucle in menAdherent %}
                {% for adherent in boucle %}
                    <tr class='men'>
                        <td>{{ adherent.lastname }}</td>
                        {% if adherent.statusMeet == 'Disponible' %}
                            <td class='status-disponibility'>{{ adherent.firstname }}</td>
                        {% else %}
                            <td>{{ adherent.firstname }}</td>
                        {% endif %}
                        <td>{{ adherent.getAge() }}</td>
                        <td >{{ adherent.statusMeet }}</td>
                        <td>{{ adherent.contractEndingAt|date('d/m/Y') }}</td>
                        <td>{{ adherent.agence.addressTown }} - {{ adherent.agence.name }}</td>
                        <td><a href='{{ path('adherent_single', {id: adherent.id}) }}'>Profil</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="card-selected">
    <div class="card-selected-woman">
        <table class='table-card-woman'>
            <thead class='thead-adherent'>
                <tr>
                    <td>lastname</td>
                    <td>firstname</td>
                    <td>Age</td>
                    <td>Rencontre : (à récupérer)</td>
                    <td>Agence Ville - Agence Nom</td>
                </tr>
            </thead>
            <tbody>
                <tr class='women'>
                    <td colspan="5">
                        <table class='table-card-woman-meet'>
                            <thead class='thead-adherent'>
                                <tr>
                                {# Gérer les meets ici !! #}
                                    <td>Id</td>
                                    <td>Date de retour</td>
                                    <td>Nom</td>
                                    <td>Prénom</td>
                                    <td>Agence</td>
                                    <td>Date de rencontre</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class='woman-meeting'>
                                    <td>5432</td>
                                    <td>23/01/22</td>
                                    <td>Truc</td>
                                    <td>Muche</td>
                                    <td>Larçay - L'agence de machin</td>
                                    <td>22/01/22</td>
                                    <td>Bouton</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-selected-man">
        <table class='table-card-man'>
            <thead class='thead-adherent'>
                <tr>
                    <td>lastname</td>
                    <td>firstname</td>
                    <td>Age</td>
                    <td>Rencontre : (à récupérer)</td>
                    <td>Agence Ville - Agence Nom</td>
                </tr>
            </thead>
            <tbody>
                <tr class='men'>
                    <td colspan="5">
                        <table class='table-card-man-meet'>
                            <thead class='thead-adherent'>
                                <tr>
                                {# Gérer les meets ici !! #}
                                    <td>Id</td>
                                    <td>Date de retour</td>
                                    <td>Nom</td>
                                    <td>Prénom</td>
                                    <td>Agence</td>
                                    <td>Date de rencontre</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class='man-meeting'>
                                    <td>5432</td>
                                    <td>23/01/22</td>
                                    <td>Truc</td>
                                    <td>Muche</td>
                                    <td>Larçay - L'agence de machin</td>
                                    <td>22/01/22</td>
                                    <td>Bouton</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
