{% extends 'base.html.twig' %}
{% block title %}GestMat - Liste d'adhérents {% endblock %}

{% block body %}

{% for message in app.flashes('noAgence') %}
    <div class="alert-error-no-agence alert-error"></div>
{% endfor %}
<div id="adherents-list" class="container container-screen">
    <h1 class="title-adherents">Liste des adhérents</h1>
    {% for agence in agences %}
        <input class="name-agence-datatable" name-agence="{{ agence.name }}" hidden/>
    {% endfor %}
    {#    Modal pour voir les info de la rencontre #}
    {% include('modal.html.twig') %}

    <div class="container-tables">
        <div class="all-table">
            {#    Adherent Femme#}
            <table id='table-women' class='table-women'>
                <thead class='thead-adherent'>
                    <th colspan="7">
                        <p id="selectTriggerFilterWoman"><label><b>Filtres :</b></label></p>
                    </th>
                    <tr>
                        <td>Nom</td>
                        <td>Prénom</td>
                        <td>Âge</td>
                        <td>État</td>
                        <td>Fin de contrat</td>
                        <td>Agence</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for boucle in womenAdherent %}
                        {% for adherent in boucle %}
                        <tr class="women {% if adherent.statusMeet == 'Disponible' %}dispo{% endif %} {% if adherent.id not in meet%}nomeet{% endif %}">
                            {% if adherent.id in meet %}
                                    <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                            {% else %}
                                <td class="js-adherent no-meet" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                            {% endif %}
                                {% if adherent.statusMeet == 'Disponible' %}
                                    <td class='status-disponibility js-adherent' data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                                {% else %}
                                    <td class='js-adherent' data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                                {% endif %}
                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.getAge() }}</td>
                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.statusMeet }}</td>
                                <td class="js-adherent" data-id='{{ adherent.id }}' data-sort='{{ adherent.contractEndingAt|date('Ymd') }}'>{{ adherent.contractEndingAt|date('d/m/Y') }}</td>
                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.agence.name }}</td>
                                <td><a href='{{ path('adherent_single', {id : adherent.id}) }}'>Profil</a></td>
                        </tr>
                        {% endfor %} 
                    {% endfor %}
{#                    {% for boucle in womenAdherentDroit %}#}
{#                        {% for adherent in boucle %}#}
{#                            <tr class='women-droit'>#}
{#                                {% if adherent.id in meet %}#}
{#                                    <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>#}
{#                                {% else %}#}
{#                                    <td class="js-adherent no-meet" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>#}
{#                                {% endif %}#}
{#                                {% if adherent.statusMeet == 'Disponible' %}#}
{#                                    <td class='status-disponibility js-adherent' data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>#}
{#                                {% else %}#}
{#                                    <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>#}
{#                                {% endif %}#}
{#                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.getAge() }}</td>#}
{#                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.statusMeet }}</td>#}
{#                                <td class="js-adherent" data-id='{{ adherent.id }}' data-sort='{{ adherent.contractEndingAt|date('Ymd') }}'>{{ adherent.contractEndingAt|date('d/m/Y') }}</td>#}
{#                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.agence.name }}</td>#}
{#                                <td><a href='{{ path('adherent_single', {id : adherent.id}) }}'>Profil</a></td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    {% endfor %}#}
                </tbody>
            </table>

        {#    Adherent Homme#}
            <table id="table-men" class='table-men'>
                <thead class='thead-adherent'>
                    <th colspan="7">
                        <p id="selectTriggerFilterMan"><label><b>Filtres :</b></label></p>
                    </th>
                    <tr>
                        <td>Nom</td>
                        <td>Prénom</td>
                        <td>Âge</td>
                        <td>État</td>
                        <td>Fin de contrat</td>
                        <td>Agence</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for boucle in menAdherent %}
                        {% for adherent in boucle %}
                            <tr class="men {% if adherent.statusMeet == 'Disponible' %}dispo{% endif %} {% if adherent.id not in meet%}nomeet{% endif %}">
                                {% if adherent.id in meet %}
                                    <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                                {% else %}
                                    <td class="js-adherent no-meet" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                                {% endif %}
                                {% if adherent.statusMeet == 'Disponible' %}
                                    <td class='status-disponibility js-adherent'  data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                                {% else %}
                                    <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                                {% endif %}
                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.getAge() }}</td>
                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.statusMeet }}</td>
                                <td class="js-adherent" data-id='{{ adherent.id }}' data-sort='{{ adherent.contractEndingAt|date('Ymd') }}'>{{ adherent.contractEndingAt|date('d/m/Y') }}</td>
                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.agence.name }}</td>
                                <td><a href='{{ path('adherent_single', {id: adherent.id}) }}'>Profil</a></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
{#                    {% for boucle in menAdherentDroit %}#}
{#                        {% for adherent in boucle %}#}
{#                            <tr class='men-droit'>#}
{#                                {% if adherent.id in meet %}#}
{#                                    <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>#}
{#                                {% else %}#}
{#                                    <td class="js-adherent no-meet" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>#}
{#                                {% endif %}#}
{#                                {% if adherent.statusMeet == 'Disponible' %}#}
{#                                    <td class='status-disponibility js-adherent' data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>#}
{#                                {% else %}#}
{#                                    <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>#}
{#                                {% endif %}#}
{#                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.getAge() }}</td>#}
{#                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.statusMeet }}</td>#}
{#                                <td class="js-adherent" data-id='{{ adherent.id }}' data-sort='{{ adherent.contractEndingAt|date('Ymd') }}'>{{ adherent.contractEndingAt|date('d/m/Y') }}</td>#}
{#                                <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.agence.name }}</td>#}
{#                                <td><a href='{{ path('adherent_single', {id: adherent.id}) }}'>Profil</a></td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    {% endfor %}#}
                </tbody>
            </table>
        </div>
    </div>
    <div class="button-meet"></div>
    <div class="card-selected">
        <div class="card-selected-woman">
            <div class='table-card-woman'>
                <div class="info-adherent-woman-picked">
                    <p class='thead-card-woman-lastname'></p>
                    <p class='thead-card-woman-firstname'></p>
                    <p class='thead-card-woman-years'></p>
                    <p class='thead-card-woman-meet'></p>
                    <p class='thead-card-woman-agence'></p>
                </div>

                <table class='table-card-woman-meet'>
                    <thead class='thead-adherent'>
                        <tr>
                            <td>Id</td>
                            <td>Retour</td>
                            <td>Nom</td>
                            <td>Prénom</td>
                            <td>Agence</td>
                            <td>Rencontre</td>
                            <td>Action</td>
                            <td>Supprimer</td>
                        </tr>
                    </thead>
                    <tbody class="woman-meeting">
                        <tr>
                            <td colspan="8">Veuillez sélectionner un adhérent</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-selected-man">
            <div class='table-card-man'>
                <div class='thead-adherent'>
                    <p class='thead-card-man-lastname'></p>
                    <p class='thead-card-man-firstname'></p>
                    <p class='thead-card-man-years'></p>
                    <p class='thead-card-man-meet'></p>
                    <p class='thead-card-man-agence'></p>
                </div>

                <table class='table-card-man-meet'>
                    <thead class='thead-adherent'>
                        <tr>
                            <td>Id</td>
                            <td>Retour</td>
                            <td>Nom</td>
                            <td>Prénom</td>
                            <td>Agence</td>
                            <td>Rencontre</td>
                            <td>Action</td>
                            <td>Supprimer</td>
                        </tr>
                    </thead>
                    <tbody class='man-meeting'>
                        <tr>
                            <td colspan="8">Veuillez sélectionner un adhérent</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
