{% extends 'base.html.twig' %}

{% block body %}
{% for message in app.flashes('successNewAdherent') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<p>Liste des adhérents à faire</p>
<a href='{{ path('adherent_add') }}'>Ajouter un nouvel adhérent</a>
{# <a href='{{ path('meet_new', {'woman': 'adherent-woman', 'man' : 'adherent-man'}) }}'>Nouvel Rencontre</a> #}

<table>
    <thead>
        <tr>
            <td>Action</td>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Age</td>
            <td>Contrat</td>
            <td>Agence</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        {% for adherent in womanAdherent %}
            <tr class='feminin'>
                <td>
                    <input type="checkbox" id="adherent-woman" name="adherent-woman">
                    <label for="adherent-woman" values="{{ adherent.id }}"></label>
                </td>
                <td>{{adherent.lastname}}</td>
                <td>{{adherent.firstname}}</td>
                <td>{{adherent.birthdate|date('d/m/Y')}}</td>
                <td>Date à récupérer</td>
                <td>{{ adherent.agence.addressTown }}</td>
                <td><a href='{{ path('adherent_single', {id: adherent.id}) }}'>Profil</a></td>
            </tr>
        {% endfor %}
    </tbody>
    <tbody>
        {% for adherent in manAdherent %}
            <tr class='masculin'>
                <td>
                    <input type="checkbox" id="adherent-man" name="adherent-man">
                    <label for="adherent-man" values="{{ adherent.id }}"></label>
                </td>
                <td>{{adherent.lastname}}</td>
                <td>{{adherent.firstname}}</td>
                <td>{{adherent.birthdate|date('d/m/Y')}}</td>
                <td>Date à récupérer</td>
                <td>{{ adherent.agence.addressTown }}</td>
                <td><a href='{{ path('adherent_single', {id: adherent.id}) }}'>Profil</a></td>
            </tr>
        {% endfor %}
        </tbody>
</table>


{% endblock %}
