{% extends 'base.html.twig' %}

{% block body %}
{% for message in app.flashes('successNewAdherent') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<p>Liste des adhérents</p>
<div class="">
    <a href='{{ path('adherent_add') }}'>Ajouter un nouvel adhérent</a>
</div>
<div class="">
    <a href='{{ path('profile') }}'>Votre profil</a>
</div>

<div class="modal">
    <div class="modal-ask">
        <div class="modal-text">
            <p>Voulez vous créer une rencontre entre :</p>
            <p class="modal-women-meet"></p>
            <p class="modal-men-meet"></p>
            <div class="modal-button"></div>
        </div>
    </div>
</div>
<div class="all-table">
{#    Adherent Femme#}
    <table class='table-women'>
        <thead class='thead-adherent'>
            <tr>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Age</td>
                <td>État</td>
                <td>Fin contrat</td>
                <td>Agence</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for boucle in womenAdherent %}
                {% for adherent in boucle %}
                   <tr class='women'>
                       {% if adherent.id in meet %}
                           <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                       {% else %}
                           <td class="js-adherent no-meet" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                       {% endif %}
                        {% if adherent.statusMeet == 'Disponible' %}
                            <td class='status-disponibility js-adherent' data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                        {% else %}
                            <td class='js-adherent' data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                        {% endif %}
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.getAge() }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.statusMeet }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.contractEndingAt|date('d/m/Y') }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.agence.addressTown }} - {{ adherent.agence.name }}</td>
                        <td><a href='{{ path('adherent_single', {id : adherent.id}) }}'>Profil</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            {% for boucle in womenAdherentDroit %}
                {% for adherent in boucle %}
                    <tr class='women-droit'>
                        {% if adherent.id in meet %}
                            <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                        {% else %}
                            <td class="js-adherent no-meet" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                        {% endif %}
                        {% if adherent.statusMeet == 'Disponible' %}
                            <td class='status-disponibility js-adherent' data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                        {% else %}
                            <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                        {% endif %}
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.getAge() }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.statusMeet }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.contractEndingAt|date('d/m/Y') }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.agence.addressTown }} - {{ adherent.agence.name }}</td>
                        <td><a href='{{ path('adherent_single', {id : adherent.id}) }}'>Profil</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{#    Adherent Homme#}
    <table class='table-men'>
        <thead class='thead-adherent'>
            <tr>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Age</td>
                <td>État</td>
                <td>Fin contrat</td>
                <td>Agence</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for boucle in menAdherent %}
                {% for adherent in boucle %}
                    <tr class='men'>
                        {% if adherent.id in meet %}
                            <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                        {% else %}
                            <td class="js-adherent no-meet" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                        {% endif %}
                        {% if adherent.statusMeet == 'Disponible' %}
                            <td class='status-disponibility js-adherent'  data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                        {% else %}
                            <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                        {% endif %}
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.getAge() }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.statusMeet }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.contractEndingAt|date('d/m/Y') }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.agence.addressTown }} - {{ adherent.agence.name }}</td>
                        <td><a href='{{ path('adherent_single', {id: adherent.id}) }}'>Profil</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            {% for boucle in menAdherentDroit %}
                {% for adherent in boucle %}
                    <tr class='men-droit'>
                        {% if adherent.id in meet %}
                            <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                        {% else %}
                            <td class="js-adherent no-meet" data-id='{{ adherent.id }}'>{{ adherent.lastname }}</td>
                        {% endif %}
                        {% if adherent.statusMeet == 'Disponible' %}
                            <td class='status-disponibility js-adherent' data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                        {% else %}
                            <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.firstname }}</td>
                        {% endif %}
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.getAge() }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.statusMeet }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.contractEndingAt|date('d/m/Y') }}</td>
                        <td class="js-adherent" data-id='{{ adherent.id }}'>{{ adherent.agence.addressTown }} - {{ adherent.agence.name }}</td>
                        <td><a href='{{ path('adherent_single', {id: adherent.id}) }}'>Profil</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="button-meet">
{#    <a href="#" class="button-create-meet">Créer une rencontre</a>#}
</div>
<div class="card-selected">
    <div class="card-selected-woman">
        <table class='table-card-woman'>
            <thead class='thead-adherent'>
                <tr>
                    <td class='thead-card-woman-lastname'></td>
                    <td class='thead-card-woman-firstname'></td>
                    <td class='thead-card-woman-years'></td>
                    <td class='thead-card-woman-meet'></td>
                    <td class='thead-card-woman-agence'></td>
                </tr>
            </thead>
            <tbody>
                <tr class='women'>
                    <td colspan="5">
                        <table class='table-card-woman-meet'>
                            <thead class='thead-adherent'>
                                <tr>
                                    <td>Id</td>
                                    <td>Date de retour</td>
                                    <td>Nom</td>
                                    <td>Prénom</td>
                                    <td>Agence</td>
                                    <td>Date de rencontre</td>
                                    <td>Action</td>
                                    <td>Supprimer</td>
                                </tr>
                            </thead>
                            <tbody class="woman-meeting">
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-selected-man">
        <table class='table-card-man'>
            <thead class='thead-adherent'>
                <tr>
                    <td class='thead-card-man-lastname'></td>
                    <td class='thead-card-man-firstname'></td>
                    <td class='thead-card-man-years'></td>
                    <td class='thead-card-man-meet'></td>
                    <td class='thead-card-man-agence'></td>
                </tr>
            </thead>
            <tbody>
                <tr class='men'>
                    <td colspan="5">
                        <table class='table-card-man-meet'>
                            <thead class='thead-adherent'>
                                <tr>
                                    <td>Id</td>
                                    <td>Date de retour</td>
                                    <td>Nom</td>
                                    <td>Prénom</td>
                                    <td>Agence</td>
                                    <td>Date de rencontre</td>
                                    <td>Action</td>
                                    <td>Supprimer</td>
                                </tr>
                            </thead>
                            <tbody class='man-meeting'>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
