{% extends 'base.html.twig' %}

{% block body %}
{% for message in app.flashes('successNewAdherent') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<p>Liste des adhérents</p>
<div class="">
    <a href='{{ path('adherent_add') }}'>Ajouter un nouvel adhérent</a>
</div>
<div class="">
    <a href='{{ path('profile') }}'>Votre profil</a>
</div>
{% if app.user.roles[0] == "ROLE_ADMIN" %}
    <div class=""><a href="{{ path('admin') }}">ADMIN</a></div>
{% endif %}
{# <a href='{{ path('meet_new', {'woman': 'adherent-woman', 'man' : 'adherent-man'}) }}'>Nouvel Rencontre</a> #}

<table>
    <thead>
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Age</td>
            <td>Contrat</td>
            <td>Agence</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        {% for adherent in womanAdherent %}
            <tr class='feminin'>
                <td>{{ adherent.lastname }}</td>
                <td>{{ adherent.firstname }}</td>
                <td>{{ adherent.birthdate|date('d/m/Y') }}</td>
                <td>{{ adherent.contractDate|date('d/m/Y') }}</td>
                <td>{{ adherent.agence.addressTown }} - {{ adherent.agence.name }}</td>
                <td><a href='{{ path('adherent_single', {id : adherent.id}) }}'>Profil</a></td>
            </tr>
        {% endfor %}
    </tbody>
    <tbody>
        {% for adherent in manAdherent %}
            <tr class='masculin'>
                <td>{{ adherent.lastname }}</td>
                <td>{{ adherent.firstname }}</td>
                <td>{{ adherent.birthdate|date('d/m/Y') }}</td>
                <td>{{ adherent.contractDate|date('d/m/Y') }}</td>
                <td>{{ adherent.agence.addressTown }} - {{ adherent.agence.name }}</td>
                <td><a href='{{ path('adherent_single', {id: adherent.id}) }}'>Profil</a></td>
            </tr>
        {% endfor %}
        </tbody>
</table>


{% endblock %}
