<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GestMat{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/datatable.min.css') }}">
            <link rel="stylesheet" href='{{ asset('css/style.css') }}'/>
            <link rel="apple-touch-icon" sizes="180x180" href="{{asset('build/images/favicon/apple-touch-icon.png')}}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{asset('build/images/favicon/favicon-32x32.png')}}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{asset('build/images/favicon/favicon-16x16.png')}}">
            <link rel="manifest" crossorigin="use-credentials" href="{{asset('build/images/favicon/site.webmanifest')}}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
    {% if app.user %}
        {% include 'header.html.twig' %}
    {% endif %}
        {% block body %}{% endblock %}

        {% block javascripts %}

            {# SweetAlert #}
                <script src="{{ asset('js/plugin/sweetalert.js') }}"></script>
            {# Datatable #}
                <script src="{{ asset('js/plugin/jquery3.6.min.js') }}"></script>
                <script src="{{ asset('js/plugin/datatable.min.js') }}"></script>
                <script src='{{ asset('js/table.js') }}'></script>
            <script src='{{ asset('js/script.js') }}'></script>
            <script src="{{ asset('js/adherent.js') }}"></script>
            <script src="{{ asset('js/singleAdherent.js') }}"></script>
            <script src="{{ asset('js/function.js') }}"></script>
            <script src="{{ asset('js/interAgence.js') }}"></script>
            <script src="{{ asset('js/meet.js') }}"></script>
            <script src="{{ asset('js/messageFlash.js') }}"></script>
            <script src="{{ asset('js/sendPdf.js') }}"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
