<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GestMat{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/datatable.min.css') }}">
        <link rel="stylesheet" href='{{ asset('css/style.css') }}'/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{asset('build/images/favicon/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('build/images/favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset('build/images/favicon/favicon-16x16.png')}}">
        <link rel="manifest" href="{{asset('build/images/favicon/site.webmanifest')}}">
                    {{ encore_entry_link_tags('app') }}

            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

    </head>
    <body>
    {% if app.user %}
        <header>
            <div class="btn-menu">
                <div class="btn-opened">
                    <img src="{{asset('build/images/burger-opened.svg')}}" alt="Logo agence">
                </div>
                <div class="btn-closed">
                    <img src="{{asset('build/images/burger-closed.svg')}}" alt="Logo agence">
                </div>
            </div>
            <div class="languette-menu">
                <div class="languette-menu_logo">
                    <img src="{{asset('build/images/logo-agence.png')}}" alt="Logo agence">
                </div>
                <div class="languette-menu_list">
                    {% if app.user  %}
                        <div class="">                             
                            <a href="{{ path('adherent_all') }}">
                                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="26" cy="26" r="25" stroke="#A00055" stroke-width="2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.303 23.5578H21.7104C23.6894 23.5578 25.3049 25.2128 25.3049 27.191V38.1333H23.4856V29.0498H21.5469V38.1333H12.5418V29.0498H10.6054V38.1333H8.66669V27.191C8.66669 25.2128 10.2837 23.5578 12.303 23.5578ZM16.9843 13.8666C19.3679 13.8666 21.305 15.8038 21.305 18.1867C21.305 20.5688 19.3679 22.5082 16.9843 22.5082C14.6014 22.5082 12.6635 20.5688 12.6635 18.1867C12.6635 15.8038 14.6014 13.8666 16.9843 13.8666Z" fill="#A00055"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M30.5512 23.5578H39.9199C41.9354 23.5578 43.5516 25.2128 43.5516 27.191V38.1333H41.9354L40.3222 29.694L38.5159 29.8986L39.7564 38.1333H30.7946L32.4542 29.8986L30.6341 29.694L29.0149 38.1333H28.8544H26.9172V27.191C26.918 25.2128 28.5342 23.5578 30.5512 23.5578ZM35.2348 13.8666C37.6192 13.8666 39.5533 15.8038 39.5533 18.1867C39.5533 20.5688 37.6192 22.5082 35.2348 22.5082C32.8504 22.5082 30.9148 20.5688 30.9148 18.1867C30.9148 15.8038 32.8504 13.8666 35.2348 13.8666Z" fill="#A00055"/>
                                </svg>   
                                Liste des<br>adhérents
                            </a>
                        </div>
                        <div class="">                               
                            <a href='{{ path('adherent_add') }}'>
                               <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="26" cy="26" r="25" stroke="#A00055" stroke-width="2"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.0613 26.2396C25.1817 26.2396 26.8946 26.721 28.5843 27.7641C24.7571 30.9122 26.6713 37.3957 29.2034 38.2595L12.1958 38.2449C12.1334 37.9053 12.1334 37.5364 12.1334 37.1681C12.1334 31.1202 17.0146 26.2396 23.0613 26.2396ZM23.0613 13.8666C25.8577 13.8666 28.1598 16.1375 28.1598 18.9651C28.1598 21.7566 25.8577 24.0586 23.0613 24.0586C20.2399 24.0586 17.9672 21.7566 17.9672 18.9651C17.9672 16.1381 20.2399 13.8666 23.0613 13.8666Z" fill="#A00055"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M34.1165 26.5143C37.5234 26.5143 40.2855 29.2789 40.2855 32.6852C40.2855 36.0628 37.5234 38.8267 34.1165 38.8267C30.7383 38.8267 27.9768 36.0628 27.9768 32.6852C27.9768 29.2789 30.7377 26.5143 34.1165 26.5143ZM33.3775 36.8923H34.8524V33.3924H38.323V31.9181H34.8524V28.4494H33.3775V31.9181H29.91V33.3924H33.3775V36.8923Z" fill="#A00055"/>
                            </svg> 
                                Ajouter un<br>nouvel adhérent
                            </a>
                        </div>
                        <div class="">                               
                            <a href='{{ path('profile') }}'>
                                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="26" cy="26" r="25" stroke="#A00055" stroke-width="2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.8914 15.462C22.5266 12.7998 27.6774 13.5456 30.3778 17.1318C33.0738 20.687 32.3163 25.7713 28.6827 28.4341C25.0481 31.0969 19.9244 30.3473 17.2257 26.7616C14.5285 23.1765 15.2573 18.1237 18.8914 15.462ZM19.5221 16.2779C16.3613 18.6079 15.6906 23.0208 18.0547 26.1694C20.42 29.2896 24.8897 29.9209 28.0814 27.6171C31.2427 25.2844 31.8831 20.8748 29.5476 17.7241C27.1834 14.6055 22.6823 13.9452 19.5221 16.2779ZM28.7939 28.7428C28.0846 29.2682 27.4432 29.3837 27.9437 30.0547L33.5711 37.5171C34.1025 38.1869 35.066 38.3458 35.7753 37.8194C36.4553 37.3261 36.6131 36.3459 36.0844 35.6761L30.4873 28.2121C29.9549 27.5128 29.4733 28.2484 28.7939 28.7428ZM21.2009 21.9539C20.4916 22.451 20.3631 23.4589 20.8636 24.1609L23.7608 27.9799L24.4397 27.4855L24.4999 27.4518L22.8617 24.079L23.2804 23.8731L24.9141 27.1543L25.1516 26.9895L28.3406 24.6258L28.6952 24.3626L25.9699 21.901L26.3191 21.5495L29.11 24.0667L29.6691 23.6398L26.7735 19.8224C26.2714 19.1216 25.246 18.9653 24.5367 19.4913L21.2009 21.9539ZM20.3192 17.3276C19.463 17.9515 19.2867 19.1467 19.9174 19.961C20.5507 20.8069 21.7604 20.9823 22.5874 20.3591C23.4447 19.7347 23.6225 18.5389 22.9919 17.7257C22.3569 16.8788 21.177 16.7017 20.3192 17.3276Z" fill="#A00055"/>
                                </svg> 
                                Voir<br>mon profil
                            </a>
                        </div>
                        <div class="">
                            <a href="{{ path('meet_date', {date: date('now')|date('Y-m-d')}) }}">
                                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="26" cy="26" r="25" stroke="#A00055" stroke-width="2"/>
                                    <path d="M32 14C30.7816 13.9998 29.5812 14.29 28.5006 14.846C27.4201 15.4019 26.4913 16.2072 25.7931 17.1935C25.0949 16.2072 24.1661 15.4019 23.0856 14.846C22.005 14.29 20.8046 13.9998 19.5862 14C17.5742 14 15.6446 14.7895 14.2219 16.1947C12.7993 17.5999 12 19.5059 12 21.4932C12 29.2847 20.9655 35.7139 25.7931 39C30.6207 35.7139 39.5862 29.2847 39.5862 21.4932C39.5862 20.5092 39.39 19.5348 39.0087 18.6257C38.6275 17.7166 38.0687 16.8905 37.3643 16.1947C36.6598 15.4989 35.8235 14.947 34.9031 14.5704C33.9827 14.1938 32.9962 14 32 14Z" fill="#A00055"/>
                                </svg>                                    
                                Rencontres
                            </a>
                        </div>
                        <div class="">
                            <a href='{{ path('search') }}'>
                                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="26" cy="26" r="25" stroke="#A00055" stroke-width="2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.8914 15.462C22.5266 12.7998 27.6774 13.5456 30.3778 17.1318C33.0738 20.687 32.3163 25.7713 28.6827 28.4341C25.0481 31.0969 19.9244 30.3473 17.2257 26.7616C14.5285 23.1765 15.2573 18.1237 18.8914 15.462ZM19.5221 16.2779C16.3613 18.6079 15.6906 23.0208 18.0547 26.1694C20.42 29.2896 24.8897 29.9209 28.0814 27.6171C31.2427 25.2844 31.8831 20.8748 29.5476 17.7241C27.1834 14.6055 22.6823 13.9452 19.5221 16.2779ZM28.7939 28.7428C28.0846 29.2682 27.4432 29.3837 27.9437 30.0547L33.5711 37.5171C34.1025 38.1869 35.066 38.3458 35.7753 37.8194C36.4553 37.3261 36.6131 36.3459 36.0844 35.6761L30.4873 28.2121C29.9549 27.5128 29.4733 28.2484 28.7939 28.7428Z" fill="#A00055"/>
                                </svg>                                    
                                Recherche
                            </a>
                        </div>
                        <div class="">                             
                            <a href="{{ path('app_logout') }}">
                                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="26" cy="26" r="25" stroke="#A00055" stroke-width="2"/>
                                    <path d="M27.5015 16.8048C27.5015 16.4853 27.3745 16.1788 27.1486 15.9529C26.9226 15.7269 26.6162 15.6 26.2966 15.6C25.9771 15.6 25.6706 15.7269 25.4446 15.9529C25.2187 16.1788 25.0917 16.4853 25.0917 16.8048L25.0881 26.4473C25.0881 26.7669 25.2151 27.0733 25.441 27.2993C25.667 27.5253 25.9734 27.6522 26.293 27.6522C26.6125 27.6522 26.919 27.5253 27.145 27.2993C27.3709 27.0733 27.4979 26.7669 27.4979 26.4473L27.5015 16.806V16.8048Z" fill="#A00055"/>
                                    <path d="M16.6577 27.6282C16.6577 24.9654 17.7361 22.5557 19.4807 20.8123L21.1844 22.5159C20.1733 23.5269 19.4848 24.815 19.2058 26.2174C18.9268 27.6197 19.0699 29.0733 19.6171 30.3943C20.1642 31.7152 21.0908 32.8443 22.2796 33.6387C23.4685 34.4331 24.8662 34.8571 26.296 34.8571C27.7258 34.8571 29.1235 34.4331 30.3124 33.6387C31.5012 32.8443 32.4278 31.7152 32.9749 30.3943C33.5221 29.0733 33.6652 27.6197 33.3862 26.2174C33.1072 24.815 32.4187 23.5269 31.4076 22.5159L33.1125 20.8123C34.2333 21.9331 35.0604 23.3131 35.5205 24.8299C35.9806 26.3468 36.0595 27.9537 35.7503 29.5084C35.441 31.063 34.7531 32.5174 33.7475 33.7427C32.742 34.968 31.4497 35.9264 29.9853 36.5329C28.5209 37.1395 26.9294 37.3756 25.3519 37.2203C23.7745 37.0649 22.2597 36.523 20.9417 35.6424C19.6237 34.7617 18.5432 33.5697 17.796 32.1718C17.0487 30.7739 16.6578 29.2133 16.6577 27.6282Z" fill="#A00055"/>
                                </svg>   
                                Déconnexion
                            </a>
                        </div>
                    {% endif %}
                    {% if app.user and app.user.roles[0] == "ROLE_ADMIN" %}
                        <div class="link-admin">
                            <a href="{{ path('admin') }}">
                                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="26" cy="26" r="25" stroke="#A00055" stroke-width="2"/>
                                    <path d="M26.084 14C23.437 16.479 19.9076 17.9916 16 17.9916V31.1008C17.7034 35.3546 21.7155 37.7521 26.084 39C30.4534 37.7517 34.4651 35.3542 36.1681 31.1008V17.9916C32.2605 17.9916 28.7311 16.479 26.084 14ZM26.084 37.2353C24.8576 36.892 21.6311 36.1966 19.0672 32.9916C20.2017 30.9748 22.1765 29.5042 24.5294 29.042C22.7647 28.4538 21.4622 26.7311 21.4622 24.7143C21.4622 22.1513 23.521 20.0924 26.084 20.0924C28.6471 20.0924 30.7059 22.1513 30.7059 24.7143C30.7059 26.7311 29.4034 28.4538 27.6387 29.084C29.9916 29.5462 31.9664 31.0168 33.1008 33.0332C31.0798 35.4916 28.8466 36.5727 26.084 37.2353Z" fill="#A00055"/>
                                </svg>                                                                        
                                Menu admin
                            </a>
                        </div>
                        {# <div class="">
                            <a href="{{ path('admin_user_all') }}">Liste des utilisateurs</a>
                        </div>
                        <div class="">
                            <a href="{{ path('admin_user_new') }}">Ajouter un utilisateur</a>
                        </div>
                        <div class="">
                            <a href="{{ path('admin_agence') }}">Voir les agences</a>
                        </div>
                        <div class="">
                            <a href="{{ path('admin_agence_add') }}">Ajouter une agence</a>
                        </div>
                        <div class="">
                            <a href="{{ path('admin_options') }}">Voir les options</a>
                        </div> #}
                    {% endif %}
                </div>
                <div class="languette-menu_mentions">
                    <p>logiciel propulsé par GestMat</p>
                </div>

            </div>
        </header>
    {% endif %}
        {% block body %}{% endblock %}

        {% block javascripts %}
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{{ asset('js/jquery3.6.min.js') }}"></script>
        <script src="{{ asset('js/datatable.min.js') }}"></script>
        <script src='{{ asset('js/table.js') }}'></script>
        <script src='{{ asset('js/script.js') }}'></script>
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
