{% extends 'base.html.twig' %}

{% block body %}
<div id="single-agence" class="container container-screen">

    <h1 class="title-adherents">{{ agence.name }}</h1>
    <div class="return-link">
        <a class="link-sm" href="{{ path('profile') }}">Retour</a>
    </div>
<img class="img-agence" src='{{ asset('uploads/agence/agence'~ agence.id ~'/picture/'~ agence.linkPicture) }}' alt="Image de l'agence" />

    <div class="content">
        <p>Nom : <span>{{ agence.name }}</span></p>
        <p>Email : <span>{{ agence.email }}</span></p>
        <p>Téléphone : <span>{{ agence.phoneNumber }}</span></p>
        <p>Date début de contract : <span>{{ agence.startedAt|date('d/m/Y') }}</span></p>
        <p>Date fin de contract : <span>{{ agence.endingAt|date('d/m/Y') }}</span></p>
        <p>Adresse : <span>{{ agence.addressStreet }}
        {% if agence.addressStreet2 != '' %}
            - {{ agence.addressStreet2 }} <br/>
        {% else %}
        {% endif %}
        - {{ agence.addressZipPostal }} - {{ agence.addressTown }}</span></p>
            <br>
        {#  Suppression des droits d'agences
        {% if agence.droitAgence|length > 0 %}
            <p>J'ai donné les droits à ces agences :
            {% for droit in agence.droitAgence %}
            <span>{{droit.name}}</span>
            {% endfor %}
            </p>
        {% endif %}
        <br>
        <div class="form-droits">
            {{form(form)}}
        </div>
            <br>
        {% if agenceGiveDroit|length > 0 %}
            <p>Ces agences m'ont donné les droits :
            {% for agence in agenceGiveDroit %}
            <span>{{agence.name}}</span>
            {% endfor %}
            </p>
        {% endif %} #}
    </div>
    <a class="btn btn-little" href="{{ path('agence_modify', {id: agence.id}) }}">Modifier l'agence</a>
</div>
{% endblock %}
