{% extends 'base.html.twig' %}

{% block body %}
<div id="my-profile" class="container container-screen">
    <h1 class="">Mes informations</h1>

    <div>
        <div>
            <div class="">
                <div class="">
                    <p>Nom/Prénom : <span>{{ userProfile.lastname }} {{ userProfile.firstname }}</span></p>
                </div>
            </div>
            <br>
            <div class="">
                <div class="">
                    <p>Email : <span>{{ userProfile.email }}</span></p>
                </div>
            </div>
            <br>
            <div class="">
                <div class="">
                    <p>Mes agences :</p>
                </div>
                <div class="">
                {% if userProfile.agence|length > 0 %}
                    {% for agence in userProfile.agence %}
                        <p><span>{{ agence.name }}</span></p>
                        <a class="link-sm" href="{{ path('agence_single', {id: agence.id}) }}">Voir plus</a>
                        <a class="link-sm" href="{{ path('adherent_export') }}" download="download">Exporter mes données</a>
                    {% endfor %}
                {% else %}
                    <p>Merci de patienter, l'administrateur vous attribuera une agence</p>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center m-5">
            <a class="btn btn-secondary btn-little btn-sm mx-2" href="{{ path('user_profile') }}">Modifier mon profil</a>
            <a class="btn btn-secondary btn-little btn-sm mx-2" href="{{ path('user_password') }}">Modifier mon mot de passe</a>
        </div>
    </div>
</div>
{% endblock %}
